USE [master]
GO
/****** Object:  Database [keeperpro]    Script Date: 15.04.2026 13:17:01 ******/
CREATE DATABASE [keeperpro]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'keeperpro', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\keeperpro.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'keeperpro_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\keeperpro_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [keeperpro].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [keeperpro]
GO
/****** Object:  Table [dbo].[application_statuses]    Script Date: 15.04.2026 13:17:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[application_statuses](
	[status_id] [int] IDENTITY(1,1) NOT NULL,
	[status_name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[application_types]    Script Date: 15.04.2026 13:17:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[application_types](
	[application_type_id] [int] IDENTITY(1,1) NOT NULL,
	[type_name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[application_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[application_visitors]    Script Date: 15.04.2026 13:17:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[application_visitors](
	[application_visitor_id] [int] IDENTITY(1,1) NOT NULL,
	[application_id] [int] NOT NULL,
	[visitor_id] [int] NOT NULL,
	[visitor_order] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[application_visitor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[applications]    Script Date: 15.04.2026 13:17:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[applications](
	[application_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[application_type_id] [int] NOT NULL,
	[department_id] [int] NOT NULL,
	[employee_id] [int] NOT NULL,
	[date_start] [date] NOT NULL,
	[date_end] [date] NOT NULL,
	[visit_purpose] [nvarchar](max) NOT NULL,
	[note] [nvarchar](max) NOT NULL,
	[status_id] [int] NOT NULL,
	[rejection_reason] [nvarchar](max) NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[application_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[departments]    Script Date: 15.04.2026 13:17:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[departments](
	[department_id] [int] IDENTITY(1,1) NOT NULL,
	[department_name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[department_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[document_types]    Script Date: 15.04.2026 13:17:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[document_types](
	[document_type_id] [int] IDENTITY(1,1) NOT NULL,
	[document_type_name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[document_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[documents]    Script Date: 15.04.2026 13:17:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[documents](
	[document_id] [int] IDENTITY(1,1) NOT NULL,
	[application_id] [int] NOT NULL,
	[visitor_id] [int] NULL,
	[document_type_id] [int] NOT NULL,
	[file_name] [nvarchar](255) NOT NULL,
	[file_path] [nvarchar](max) NOT NULL,
	[uploaded_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[document_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employees]    Script Date: 15.04.2026 13:17:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employees](
	[employee_id] [int] IDENTITY(1,1) NOT NULL,
	[department_id] [int] NOT NULL,
	[last_name] [nvarchar](100) NOT NULL,
	[first_name] [nvarchar](100) NOT NULL,
	[middle_name] [nvarchar](100) NULL,
	[position] [nvarchar](150) NULL,
	[phone] [nvarchar](30) NULL,
	[email] [nvarchar](255) NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 15.04.2026 13:17:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 15.04.2026 13:17:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[role_id] [int] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[visit_logs]    Script Date: 15.04.2026 13:17:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[visit_logs](
	[visit_log_id] [int] IDENTITY(1,1) NOT NULL,
	[application_id] [int] NOT NULL,
	[visitor_id] [int] NOT NULL,
	[security_employee_id] [int] NULL,
	[department_employee_id] [int] NULL,
	[entry_time] [datetime] NULL,
	[exit_time] [datetime] NULL,
	[comment] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[visit_log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[visitors]    Script Date: 15.04.2026 13:17:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[visitors](
	[visitor_id] [int] IDENTITY(1,1) NOT NULL,
	[last_name] [nvarchar](100) NOT NULL,
	[first_name] [nvarchar](100) NOT NULL,
	[middle_name] [nvarchar](100) NULL,
	[phone] [nvarchar](30) NULL,
	[email] [nvarchar](255) NOT NULL,
	[organization] [nvarchar](255) NULL,
	[birth_date] [date] NOT NULL,
	[passport_series] [nchar](4) NOT NULL,
	[passport_number] [nchar](6) NOT NULL,
	[photo_path] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[visitor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[application_statuses] ON 

INSERT [dbo].[application_statuses] ([status_id], [status_name]) VALUES (4, N'Завершена')
INSERT [dbo].[application_statuses] ([status_id], [status_name]) VALUES (1, N'На проверке')
INSERT [dbo].[application_statuses] ([status_id], [status_name]) VALUES (3, N'Не одобрена')
SET IDENTITY_INSERT [dbo].[application_statuses] OFF
GO
SET IDENTITY_INSERT [dbo].[application_types] ON 

INSERT [dbo].[application_types] ([application_type_id], [type_name]) VALUES (2, N'group')
INSERT [dbo].[application_types] ([application_type_id], [type_name]) VALUES (1, N'individual')
SET IDENTITY_INSERT [dbo].[application_types] OFF
GO
SET IDENTITY_INSERT [dbo].[application_visitors] ON 

INSERT [dbo].[application_visitors] ([application_visitor_id], [application_id], [visitor_id], [visitor_order]) VALUES (1, 1, 1, 1)
INSERT [dbo].[application_visitors] ([application_visitor_id], [application_id], [visitor_id], [visitor_order]) VALUES (2, 2, 2, 1)
INSERT [dbo].[application_visitors] ([application_visitor_id], [application_id], [visitor_id], [visitor_order]) VALUES (3, 3, 3, 1)
SET IDENTITY_INSERT [dbo].[application_visitors] OFF
GO
SET IDENTITY_INSERT [dbo].[applications] ON 

INSERT [dbo].[applications] ([application_id], [user_id], [application_type_id], [department_id], [employee_id], [date_start], [date_end], [visit_purpose], [note], [status_id], [rejection_reason], [created_at], [updated_at]) VALUES (1, 1, 1, 1, 1, CAST(N'2026-04-16' AS Date), CAST(N'2026-04-17' AS Date), N'Собеседование', N'Личная заявка на посещение отдела кадров', 2, NULL, CAST(N'2026-04-15T09:39:59.420' AS DateTime), CAST(N'2026-04-15T09:39:59.420' AS DateTime))
INSERT [dbo].[applications] ([application_id], [user_id], [application_type_id], [department_id], [employee_id], [date_start], [date_end], [visit_purpose], [note], [status_id], [rejection_reason], [created_at], [updated_at]) VALUES (2, 2, 1, 3, 3, CAST(N'2026-04-17' AS Date), CAST(N'2026-04-18' AS Date), N'Встреча с ИТ-отделом', N'Личная заявка на посещение ИТ-отдела', 1, NULL, CAST(N'2026-04-15T09:39:59.420' AS DateTime), CAST(N'2026-04-15T09:39:59.420' AS DateTime))
INSERT [dbo].[applications] ([application_id], [user_id], [application_type_id], [department_id], [employee_id], [date_start], [date_end], [visit_purpose], [note], [status_id], [rejection_reason], [created_at], [updated_at]) VALUES (3, 3, 2, 5, 5, CAST(N'2026-04-18' AS Date), CAST(N'2026-04-19' AS Date), N'Экскурсия', N'Групповая заявка на посещение предприятия', 2, NULL, CAST(N'2026-04-15T09:39:59.420' AS DateTime), CAST(N'2026-04-15T09:39:59.420' AS DateTime))
SET IDENTITY_INSERT [dbo].[applications] OFF
GO
SET IDENTITY_INSERT [dbo].[departments] ON 

INSERT [dbo].[departments] ([department_id], [department_name], [description]) VALUES (1, N'Отдел кадров', N'Работа с персоналом')
INSERT [dbo].[departments] ([department_id], [department_name], [description]) VALUES (2, N'Бухгалтерия', N'Финансовый учет')
INSERT [dbo].[departments] ([department_id], [department_name], [description]) VALUES (3, N'ИТ-отдел', N'Информационные технологии')
SET IDENTITY_INSERT [dbo].[departments] OFF
GO
SET IDENTITY_INSERT [dbo].[document_types] ON 

INSERT [dbo].[document_types] ([document_type_id], [document_type_name]) VALUES (3, N'group_list_xlsx')
INSERT [dbo].[document_types] ([document_type_id], [document_type_name]) VALUES (1, N'passport_scan')
INSERT [dbo].[document_types] ([document_type_id], [document_type_name]) VALUES (2, N'visitor_photo')
SET IDENTITY_INSERT [dbo].[document_types] OFF
GO
SET IDENTITY_INSERT [dbo].[documents] ON 

INSERT [dbo].[documents] ([document_id], [application_id], [visitor_id], [document_type_id], [file_name], [file_path], [uploaded_at]) VALUES (1, 1, 1, 1, N'petrov_passport.pdf', N'/files/docs/petrov_passport.pdf', CAST(N'2026-04-15T09:39:59.430' AS DateTime))
INSERT [dbo].[documents] ([document_id], [application_id], [visitor_id], [document_type_id], [file_name], [file_path], [uploaded_at]) VALUES (2, 1, 1, 2, N'petrov_photo.jpg', N'/files/photos/petrov.jpg', CAST(N'2026-04-15T09:39:59.430' AS DateTime))
INSERT [dbo].[documents] ([document_id], [application_id], [visitor_id], [document_type_id], [file_name], [file_path], [uploaded_at]) VALUES (3, 2, 2, 1, N'sidorova_passport.pdf', N'/files/docs/sidorova_passport.pdf', CAST(N'2026-04-15T09:39:59.430' AS DateTime))
SET IDENTITY_INSERT [dbo].[documents] OFF
GO
SET IDENTITY_INSERT [dbo].[employees] ON 

INSERT [dbo].[employees] ([employee_id], [department_id], [last_name], [first_name], [middle_name], [position], [phone], [email], [is_active]) VALUES (1, 1, N'Иванов', N'Петр', N'Сергеевич', N'Специалист отдела кадров', N'+7 (900) 111-11-11', N'ivanov@keeperpro.local', 1)
INSERT [dbo].[employees] ([employee_id], [department_id], [last_name], [first_name], [middle_name], [position], [phone], [email], [is_active]) VALUES (2, 2, N'Смирнова', N'Анна', N'Викторовна', N'Бухгалтер', N'+7 (900) 222-22-22', N'smirnova@keeperpro.local', 1)
INSERT [dbo].[employees] ([employee_id], [department_id], [last_name], [first_name], [middle_name], [position], [phone], [email], [is_active]) VALUES (3, 3, N'Кузнецов', N'Дмитрий', N'Олегович', N'Системный администратор', N'+7 (900) 333-33-33', N'kuznetsov@keeperpro.local', 1)
SET IDENTITY_INSERT [dbo].[employees] OFF
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([role_id], [role_name]) VALUES (5, N'admin')
INSERT [dbo].[roles] ([role_id], [role_name]) VALUES (4, N'department_employee')
INSERT [dbo].[roles] ([role_id], [role_name]) VALUES (2, N'general_department_employee')
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([user_id], [email], [password_hash], [role_id], [created_at], [is_active]) VALUES (1, N'user1@mail.ru', N'0CEF1FB10F60529028A71F58E54ED07B', 1, CAST(N'2026-04-15T09:39:59.410' AS DateTime), 1)
INSERT [dbo].[users] ([user_id], [email], [password_hash], [role_id], [created_at], [is_active]) VALUES (2, N'user2@mail.ru', N'022B5AC7EA72A5EE3BFC6B3EB461F2FC', 1, CAST(N'2026-04-15T09:39:59.410' AS DateTime), 1)
INSERT [dbo].[users] ([user_id], [email], [password_hash], [role_id], [created_at], [is_active]) VALUES (3, N'user3@mail.ru', N'94CA112BE7FC3F3934C45C6809875168', 1, CAST(N'2026-04-15T09:39:59.410' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET IDENTITY_INSERT [dbo].[visit_logs] ON 

INSERT [dbo].[visit_logs] ([visit_log_id], [application_id], [visitor_id], [security_employee_id], [department_employee_id], [entry_time], [exit_time], [comment]) VALUES (4, 1, 1, 4, 1, CAST(N'2023-04-24T09:00:00.000' AS DateTime), CAST(N'2023-04-24T11:00:00.000' AS DateTime), N'Посещение завершено')
INSERT [dbo].[visit_logs] ([visit_log_id], [application_id], [visitor_id], [security_employee_id], [department_employee_id], [entry_time], [exit_time], [comment]) VALUES (5, 2, 2, 4, 3, CAST(N'2023-04-25T10:00:00.000' AS DateTime), CAST(N'2023-04-25T12:00:00.000' AS DateTime), N'Посещение завершено')
INSERT [dbo].[visit_logs] ([visit_log_id], [application_id], [visitor_id], [security_employee_id], [department_employee_id], [entry_time], [exit_time], [comment]) VALUES (6, 3, 3, 4, 5, CAST(N'2023-04-26T09:30:00.000' AS DateTime), CAST(N'2023-04-26T12:30:00.000' AS DateTime), N'Первый посетитель группы')
SET IDENTITY_INSERT [dbo].[visit_logs] OFF
GO
SET IDENTITY_INSERT [dbo].[visitors] ON 

INSERT [dbo].[visitors] ([visitor_id], [last_name], [first_name], [middle_name], [phone], [email], [organization], [birth_date], [passport_series], [passport_number], [photo_path]) VALUES (1, N'Петров', N'Алексей', N'Игоревич', N'+7 (901) 111-11-11', N'petrov@mail.ru', N'ООО Альфа', CAST(N'1998-05-10' AS Date), N'1234', N'123456', N'/files/photos/petrov.jpg')
INSERT [dbo].[visitors] ([visitor_id], [last_name], [first_name], [middle_name], [phone], [email], [organization], [birth_date], [passport_series], [passport_number], [photo_path]) VALUES (2, N'Сидорова', N'Елена', N'Павловна', N'+7 (901) 222-22-22', N'sidorova@mail.ru', N'ООО Бета', CAST(N'1995-07-12' AS Date), N'2345', N'234567', N'/files/photos/sidorova.jpg')
INSERT [dbo].[visitors] ([visitor_id], [last_name], [first_name], [middle_name], [phone], [email], [organization], [birth_date], [passport_series], [passport_number], [photo_path]) VALUES (3, N'Васильев', N'Николай', N'Андреевич', N'+7 (901) 333-33-33', N'vasiliev@mail.ru', N'ООО Гамма', CAST(N'1990-09-15' AS Date), N'3456', N'345678', N'/files/photos/vasiliev.jpg')
SET IDENTITY_INSERT [dbo].[visitors] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__applicat__501B37530E6AC7AC]    Script Date: 15.04.2026 13:17:01 ******/
ALTER TABLE [dbo].[application_statuses] ADD UNIQUE NONCLUSTERED 
(
	[status_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__applicat__543C4FD9B0BDD336]    Script Date: 15.04.2026 13:17:01 ******/
ALTER TABLE [dbo].[application_types] ADD UNIQUE NONCLUSTERED 
(
	[type_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_application_visitors]    Script Date: 15.04.2026 13:17:01 ******/
ALTER TABLE [dbo].[application_visitors] ADD  CONSTRAINT [UQ_application_visitors] UNIQUE NONCLUSTERED 
(
	[application_id] ASC,
	[visitor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__departme__226ED1570D0B14D0]    Script Date: 15.04.2026 13:17:01 ******/
ALTER TABLE [dbo].[departments] ADD UNIQUE NONCLUSTERED 
(
	[department_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__document__956D76312913CA46]    Script Date: 15.04.2026 13:17:01 ******/
ALTER TABLE [dbo].[document_types] ADD UNIQUE NONCLUSTERED 
(
	[document_type_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__roles__783254B1AAB24F39]    Script Date: 15.04.2026 13:17:01 ******/
ALTER TABLE [dbo].[roles] ADD UNIQUE NONCLUSTERED 
(
	[role_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E616469CC5C77]    Script Date: 15.04.2026 13:17:01 ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[applications] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[applications] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[documents] ADD  DEFAULT (getdate()) FOR [uploaded_at]
GO
ALTER TABLE [dbo].[employees] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[application_visitors]  WITH CHECK ADD  CONSTRAINT [FK_application_visitors_applications] FOREIGN KEY([application_id])
REFERENCES [dbo].[applications] ([application_id])
GO
ALTER TABLE [dbo].[application_visitors] CHECK CONSTRAINT [FK_application_visitors_applications]
GO
ALTER TABLE [dbo].[application_visitors]  WITH CHECK ADD  CONSTRAINT [FK_application_visitors_visitors] FOREIGN KEY([visitor_id])
REFERENCES [dbo].[visitors] ([visitor_id])
GO
ALTER TABLE [dbo].[application_visitors] CHECK CONSTRAINT [FK_application_visitors_visitors]
GO
ALTER TABLE [dbo].[applications]  WITH CHECK ADD  CONSTRAINT [FK_applications_application_types] FOREIGN KEY([application_type_id])
REFERENCES [dbo].[application_types] ([application_type_id])
GO
ALTER TABLE [dbo].[applications] CHECK CONSTRAINT [FK_applications_application_types]
GO
ALTER TABLE [dbo].[applications]  WITH CHECK ADD  CONSTRAINT [FK_applications_departments] FOREIGN KEY([department_id])
REFERENCES [dbo].[departments] ([department_id])
GO
ALTER TABLE [dbo].[applications] CHECK CONSTRAINT [FK_applications_departments]
GO
ALTER TABLE [dbo].[applications]  WITH CHECK ADD  CONSTRAINT [FK_applications_employees] FOREIGN KEY([employee_id])
REFERENCES [dbo].[employees] ([employee_id])
GO
ALTER TABLE [dbo].[applications] CHECK CONSTRAINT [FK_applications_employees]
GO
ALTER TABLE [dbo].[applications]  WITH CHECK ADD  CONSTRAINT [FK_applications_statuses] FOREIGN KEY([status_id])
REFERENCES [dbo].[application_statuses] ([status_id])
GO
ALTER TABLE [dbo].[applications] CHECK CONSTRAINT [FK_applications_statuses]
GO
ALTER TABLE [dbo].[applications]  WITH CHECK ADD  CONSTRAINT [FK_applications_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[applications] CHECK CONSTRAINT [FK_applications_users]
GO
ALTER TABLE [dbo].[documents]  WITH CHECK ADD  CONSTRAINT [FK_documents_applications] FOREIGN KEY([application_id])
REFERENCES [dbo].[applications] ([application_id])
GO
ALTER TABLE [dbo].[documents] CHECK CONSTRAINT [FK_documents_applications]
GO
ALTER TABLE [dbo].[documents]  WITH CHECK ADD  CONSTRAINT [FK_documents_document_types] FOREIGN KEY([document_type_id])
REFERENCES [dbo].[document_types] ([document_type_id])
GO
ALTER TABLE [dbo].[documents] CHECK CONSTRAINT [FK_documents_document_types]
GO
ALTER TABLE [dbo].[documents]  WITH CHECK ADD  CONSTRAINT [FK_documents_visitors] FOREIGN KEY([visitor_id])
REFERENCES [dbo].[visitors] ([visitor_id])
GO
ALTER TABLE [dbo].[documents] CHECK CONSTRAINT [FK_documents_visitors]
GO
ALTER TABLE [dbo].[employees]  WITH CHECK ADD  CONSTRAINT [FK_employees_departments] FOREIGN KEY([department_id])
REFERENCES [dbo].[departments] ([department_id])
GO
ALTER TABLE [dbo].[employees] CHECK CONSTRAINT [FK_employees_departments]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FK_users_roles] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([role_id])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FK_users_roles]
GO
ALTER TABLE [dbo].[visit_logs]  WITH CHECK ADD  CONSTRAINT [FK_visit_logs_applications] FOREIGN KEY([application_id])
REFERENCES [dbo].[applications] ([application_id])
GO
ALTER TABLE [dbo].[visit_logs] CHECK CONSTRAINT [FK_visit_logs_applications]
GO
ALTER TABLE [dbo].[visit_logs]  WITH CHECK ADD  CONSTRAINT [FK_visit_logs_department_employee] FOREIGN KEY([department_employee_id])
REFERENCES [dbo].[employees] ([employee_id])
GO
ALTER TABLE [dbo].[visit_logs] CHECK CONSTRAINT [FK_visit_logs_department_employee]
GO
ALTER TABLE [dbo].[visit_logs]  WITH CHECK ADD  CONSTRAINT [FK_visit_logs_security_employee] FOREIGN KEY([security_employee_id])
REFERENCES [dbo].[employees] ([employee_id])
GO
ALTER TABLE [dbo].[visit_logs] CHECK CONSTRAINT [FK_visit_logs_security_employee]
GO
ALTER TABLE [dbo].[visit_logs]  WITH CHECK ADD  CONSTRAINT [FK_visit_logs_visitors] FOREIGN KEY([visitor_id])
REFERENCES [dbo].[visitors] ([visitor_id])
GO
ALTER TABLE [dbo].[visit_logs] CHECK CONSTRAINT [FK_visit_logs_visitors]
GO
ALTER TABLE [dbo].[applications]  WITH CHECK ADD  CONSTRAINT [CHK_applications_dates] CHECK  (([date_end]>=[date_start]))
GO
ALTER TABLE [dbo].[applications] CHECK CONSTRAINT [CHK_applications_dates]
GO
USE [master]
GO
